html, body {
    height: 100vh;
    width: 100vw;
    background-color: #464C54;
    display: flex;
    justify-content: center;
    align-items: center;
}

#layout {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #6e6e6e;
}

.input {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.value {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #6e6e6e;
}

.button {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

#form_input, #form_value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}

#form_value {
    display: none;
}

#space {
    width: 40%;
    background-color: #6e6e6e;
}